################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CharEmServicesNet/Web.config
/CharEmServicesNet/Views/Web.config
