@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @Html.ActionLink("Account Management","Index","Admin")
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Providers</h2>
        @Html.ActionLink("Manage Providers", "index", "ServiceProvider")
    </div>
    <div class="col-md-4">
        <h2>Recipients</h2>
        @Html.ActionLink("Manage Recipients", "index", "ServiceRecipient")
    </div>
    <div class="col-md-4">
        <h2>Services</h2>
        @Html.ActionLink("Manage Services", "index", "Service")
    </div>
</div>