@model CharEmServicesNet.Models.ViewModels.LocationPartialViewModel
<div >
    <table class="table table-hover">
        <tr>
            <th>Service</th>
            <th>Description</th>            
            <th></th>
        </tr>
        @foreach (var service in Model.services)
        {
            <tr>
                <td>@Html.DisplayFor(x=> service.ServiceName) </td>
                <td>@Html.DisplayFor(x => service.ServiceDetails)</td>
                <td></td>
                <td>@Html.ActionLink("Get Info","ExtendedDetails","Service", new { id = service.Id },null)</td>
            </tr>
        }

    </table>
</div>
