@model CharEmServicesNet.Models.ViewModels.ServicePartialViewModel
<div>
    <h4>The Following Services Are Available:</h4>
    <hr />

    @for (var i = 0; i < Model._services.Count; i = i + 2)
    {
        <div class="row">
            <div class="col-md-6">                
                <h2>@Html.ActionLink(Model._services[i].ServiceName, "ExtendedDetails", "Service", new { id = @Model._services[i].Id } , new { @class = "btn btn-primary adminBtn" })</h2>
            </div>
            @if (i + 1 < Model._services.Count)
            {
                <div class="col-md-6">
                    <h2>@Html.ActionLink(Model._services[i+1].ServiceName, "ExtendedDetails", "Service", new { id = @Model._services[i+1].Id }, new { @class = "btn btn-primary adminBtn" })</h2>
                </div>
            }
        </div>
    }
</div>

